@import url('https://fonts.googleapis.com/css2?family=Hack&display=swap');
body { font-family: 'Hack', monospace; }
p{ line-height: 1.7; }
h1 {
    text-align: right;
    border-bottom: 1px dashed;
    padding-bottom: 20px;
}
h2 {color: rgb(207, 198, 186);}
h3 {color: rgb(221, 212, 211);}
h4 {color: rgb(171, 162, 151);}
h5 {color: rgb(130, 131, 121);}
a{text-decoration: none;}
h3 a{color: #9eace3;text-decoration: dashed;}
p a{color: #9eace3;text-decoration: dashed;}
img[alt="logo"]{
    position: absolute;
    width: 1.5em;
    margin-top: -0.5em;
}
.container {
    padding-left: 27%;
    padding-right: 27%;
}
@media screen and (max-width: 1500px) {
    .container {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 450px) {
    .container {
        padding-left: 0%;
        padding-right: 0%;
    }
}

pre {
    border-radius: 3px;
    padding: 16px;
    max-height: 400px;
    overflow-y: auto;
}
code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
body {
    background-color: rgb(15, 17, 17);
    color: #fff;
}
p img {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 100%;
}
